body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #27aedb;
    margin: 0;
  }
  
  nav li {
    margin: 0 15px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
/*
h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}*/